body {
    background: #000;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;


}

/* Style du bouton (optionnel) */
#lightmode-toggle {
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    background: #fff;
    font-weight: bold;
}


/* 🌞 MODE CLAIR ACTIVÉ */
.light-mode {
    background-color: #ffffff !important;
    color: #000000 !important;
}

/* textes */
.light-mode h1,
.light-mode h2,
.light-mode h3,
.light-mode p {
    color: #000 !important;
}

/* menus */
.light-mode nav li {
    background-color: #eee !important;
    border-color: #000 !important;
}




.background-blobs {

    inset: 0;
    z-index: -1;
}

.blob {
    position: absolute;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    filter: blur(150px);
    opacity: 0.6;
    animation: move 15s ease-in-out infinite alternate;
}

/* Tache violette */
.blob:nth-child(1) {
    background: #9b5cff;
    top: 10%;
    left: 15%;
}

/* Tache cyan */
.blob:nth-child(2) {
    background: #00e0ff;
    bottom: 10%;
    right: 15%;
    animation-delay: 5s;
}

@keyframes move {
    0% {
        transform: translate(0, 0) scale(1);
    }

    100% {
        transform: translate(50px, -50px) scale(1.2);
    }
}