:root {
    --text: #ffffff;
    --background: #000000
}



html,
body {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;



}

img {
    width: 100%;
}


.limelight-regular {
    font-family: "Limelight", sans-serif;
    font-weight: 00;
    font-style: normal;
}


.space-grotesk-uniquifier {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
}





section {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h3 {
    font-family: "Space Grotesk", sans-serif;
    color: var(--text);
}

header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



.Titre h1 {
    text-align: center;
    font-size: 95px;
    font-family: "Limelight", sans-serif;
    color: #ffffff;

}

p {
    color: #ffffff;
}

.description h1 {
    font-family: "Limelight", sans-serif;
    font-size: 75px;
    color: #ffffff;
    margin: 50px;
}

.description p {

    font-family: "Space Grotesk", sans-serif;
    color: #ffffff;
    font-size: 20px;
    margin: 50px;
    margin-right: 50%;
}

.experiences p {
    color: #ffffff;
    font-family: "Space Grotesk", sans-serif;

}

.experiences {
    margin-bottom: 50px;
}

.diplôme p {
    margin-bottom: 50px;
    margin-right: 50%;
    text-align: justify;
    text-align: right;


}

.compétences {
    color: #ffffff;
}

.projets h1 {
    text-align: center;
    font-size: 95px;
    font-family: "Limelight", sans-serif;
    color: #ffffff;


}

.Titre h2 {
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    color: #ffffff
}

.Titre {
    flex-basis: 100%;
}

.experiences h2 {
    font-family: "Space Grotesk", sans-serif;
    color: #ffffff;
    margin-left: 50px;
    text-align: left;


}

main {
    display: flex;
    flex-wrap: wrap;

}

main h2 {
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    color: #ffffff;
    font-size: 50px;
}

nav li {
    border: 5px solid #ffffff;
    width: 150px;
    margin: 10px auto;
    display: inline-block;
    list-style: none;
    border-radius: 15px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

nav {
    text-align: center;
}

nav li a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;

}

nav li:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.3);
}



.ppabout img {
    display: block;
    margin: 0 auto;
    width: 200px;
}

.projets {

    padding: 40px;
    max-width: 400px;
    margin: 0 auto;

    margin-top: 60px;
    position: relative;
    ;
    border-radius: 10px;
    transition: transform 0.6s ease;
    transform-origin: center;
}



.projets img {
    width: 100%;
    height: auto;
    display: block;
    filter: brightness(50%);
    transition: transform 0.6s ease;
}




.projets:hover {
    transform: scale(1.07);
}


.projets:hover .text-overlay {
    transform: translate(-50%, -50%) scale(1.1);
}



.texteintro {
    display: flex;
    flex-direction: column;
    /* ➤ Les paragraphes l’un sous l’autre */
    font-size: 15px;
    line-height: 1.5;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
    padding: 110px;
    flex: 1;
    /* ➤ Le texte prend le reste de la largeur */
    background: #000000;
}


.logopng {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    padding: 40px;
    margin-top: 60px;
}

.logopng img {
    width: 350px;
    height: auto;
    transition: transform 0.4s ease, opacity 0.4s ease;
    cursor: pointer;
}

.logopng:hover img {
    opacity: 0.1;

}

.logopng img:hover {
    transform: scale(1.5);
    opacity: 1;
    z-index: 1;
}


.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: "Space Grotesk", sans-serif;
    transition: transform 0.6s ease;
}

.bannierefooter img {
    width: 100%;
}

.couleurs {
    display: flex;
    justify-content: center;
    gap: 0px;
    margin-bottom: 40px;
}

.couleur {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    height: 700px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 25px;
    padding: 10px;
    color: white;
    font-family: monospace;
    cursor: pointer;
}

footer {
    background-color: rgb(0, 0, 0);
    margin: 5%;
}

footer ul li {
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif background-color: #ff835e;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.monStyle {
    color: #ff835e;
    background-color: palegoldenrod;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

@media (max-width: 600px) {

    .Titre h1,
    .projets h1,
    .description h1 {
        font-size: 40px;
    }

    .introretv {
        width: 50%;
    }

    .texteintro {
        display: flex;
        gap: 10px;
        align-items: flex-start;
        flex-wrap: wrap;

    }

    .charte-graphique-mina {
        display: flex;
        gap: 10px;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .logopng {
        display: flex;
        gap: 10px;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .moodboard {
        display: flex;
        gap: 10px;
        align-items: flex-start;
        flex-wrap: wrap;
    }

}